<!-- carousel -->
	<div id="myCarousel" class="carousel">
		<div class="carousel-inner">          
 
    <% @items.each_with_index do |item, index| %>
      <div class="<% if index==0%>active <%end%>item">
              <%= image_tag item.image %>
          </div>
      <% end %>

	</div>

  	<!-- Carousel nav -->
  		<a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
  		<a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div>


<!-- Posts -->
	<%- model_class = Post.new.class -%>

	<div id="posts">     
  <%= link_to "Ny post",
	             new_post_path,
	            :class => 'btn btn-primary' if can? :manage, @posts%> 
	
		<%= render :partial => 'posts' %>
	</div>

<%= will_paginate @posts, :page_links => false, previous_label: h("<<"), next_label: h(">>") %>
